@{
    ViewData["Title"] = "NotificationAgreement";
}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 text-center">
            <img width="100" height="100" src="~/template/Notifications/logo.svg" />
            <h3 class="text-dark font-weight-normal">Enable Notifications and we'll update you about:</h3>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-6 text-center">
            <img width="25" height="25" src="~/template/Notifications/flag.svg" />
        </div>
        <div class="col-6 text-left">
            <span style="font-size: 15px">Your Order Process</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 text-center">
            <img width="20" height="20" src="~/template/Notifications/bell.svg" />
        </div>
        <div class="col-6">
            <span style="font-size: 15px">Order Notifications</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 text-center">
            <img width="20" height="20" src="~/template/Notifications/parasute.svg" />
        </div>
        <div class="col-6">
            <span style="font-size: 15px">Special Events</span>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-6 text-center">
            <img width="20" height="20" src="~/template/Notifications/percentage.svg" />
        </div>
        <div class="col-6">
            <span style="font-size: 15px">Promotions</span>
        </div>
    </div>
    <div class="row mt-5 text-center">
        <div class="col-6">
            <button class="btn1 notificationbtn">No, Thank You</button>
        </div>
        <div class="col-6">
            <button class="btn1  notificationbtn">Allow</button>
        </div>
    </div>
</div>
<style>
    span {
        color: black;
    }

    .btn1 {
        background-color: white;
        border: none;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        transition: 0.3s;
    }

        .btn1:hover {
            background-color: black;
            color: white;
        }
</style>