<div id="myHeader">
    <div class="logo-header">
        <div class="container-fluid">
            <div class="col-md-12">
                @*<div class="headerTop">
            <img src="~/template/img/logo black.svg" alt="Logo Jingl" />
            <div id="HeaderLoginForm">

            </div>

        </div>*@
                <div class="headerTop" style="height: 20px;">
                    <img src="~/template/img/logo black.svg" alt="Logo Fameo" style="width: 100px;top: -15px;" />

                </div>
            </div>
    </div>
</div>

