@{
    Layout = null;
}

@inject CookieManager.ICookie _httpCookie

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<head>
    
</head>
<body>
    
</body>
</html>