<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Fameo Admin | Login Page</title>
    <link rel="shortcut icon" href="https://static.wixstatic.com/media/7f27b8_ee7121db275e4239ba84b33cc41975db%7Emv2.jpg/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/7f27b8_ee7121db275e4239ba84b33cc41975db%7Emv2.jpg" type="image/jpeg">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="~/assets-new-login/components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets-new-login/components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/assets-new-login/components/Ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/assets-new-login/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="~/assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
    <script src="~/assets/plugins/gritter/js/jquery.gritter.js"></script>
    <script src="~/assets/plugins/jquery/jquery-3.3.1.min.js"></script>
    <style>
        .main-text {
            position: absolute;
            top: 100px;
            width: 96.66666666666666%;
            color: #FFF;
        }

        .carousel-btns {
            margin-top: 2em;
        }

            .carousel-btns .btn {
                width: 150px;
            }

        .carousel-inner .imgOverlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
        }

        .carousel-inner img {
            width: 100%;
        }

        .carousel-control {
            width: auto;
        }

            .carousel-control .icon-prev,
            .carousel-control .icon-next,
            .carousel-control .fa-chevron-left,
            .carousel-control .fa-chevron-right {
                position: absolute;
                top: 47%;
                right: 0;
                z-index: 5;
                display: inline-block;
                background-color: #000;
                width: 38px;
                height: 38px;
                line-height: 40px;
                font-size: 14px;
            }

            .carousel-control .icon-prev,
            .carousel-control .fa-chevron-left {
                left: 0;
            }

        .carousel-indicators li {
            width: 12px;
            height: 12px;
            margin: 0 1px;
            border: 2px solid #fff;
            opacity: .8;
        }

        .carousel-indicators .active {
            background-color: #28ace2;
            border-color: #28ace2;
        }

        .carousel-control .icon-prev, .carousel-control .fa-chevron-left,
        .carousel-control .icon-right, .carousel-control .fa-chevron-right {
            border-radius: 50px;
        }

        .carousel-control .icon-prev, .carousel-control .fa-chevron-left {
            left: 30px;
        }

        .carousel-control .icon-right, .carousel-control .fa-chevron-right {
            right: 30px;
        }

        .carousel .carousel-inner {
            height: 100%;
        }
    </style>

    @RenderSection("Styles", required: false)

</head>

<body class="hold-transition lockscreen">
    <div id="themeSlider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/3959.jpg">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/3962.jpg">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/3988.jpg">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/3996.jpg">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/4038.jpg">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/4027.jpg">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img src="~/assets-new-login/images/4006.jpg">
            </div>
        </div>
        <div class="main-text hidden-xs hidden-sm">
            <div class="col-md-12 text-center">
                <div class="clearfix"></div>
                <div class="lockscreen-wrapper" style="float:right">
                    @RenderBody()                 
                </div>
            </div>
        </div>
    </div>
    @*<script src="~/assets-new-login/components/jquery/dist/jquery.min.js"></script>*@
    <script src="~/assets-new-login/components/bootstrap/dist/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>